.User {
    position: relative;
    display: flex;
    height: calc(100vh - 300px);
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(70, 50, 194, .65);
}

.BackdropStyling {
    position: absolute;
    height: 100%;
}