.WallPaperWrapper {
    margin: 0;
    height: calc(100vh - 100px);
}

.Loading {
    height: calc(100vh - 75px);
    width: 100%;
    background-color: #002da1;
    background-image: linear-gradient(to right, #608aad, #0048ff);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(min-width: 768px) {
    .WallPaperWrapper {
        margin: 25px;
        height: calc(100vh - 150px);
    }
}