.UserControls {
    position: absolute;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: #efefef;
    height: 100%;
    padding: 10px;
    border-right: 4px solid rgba(70, 50, 194, .75);
    transition: left .3s ease-out;
    border-radius: 0;
    width: 100%;
    left: -100%;
    border-right-width: 5px;
    z-index: 160;
}

.Show {
    box-shadow: 3px 3px 10px #637899;
    left: 0;
}

.ControlsContainer {
    display: flex;
    margin-bottom: 5px;
}

.ControlsContainer button:last-child {
    margin-right: 0;
}

.UpdatedButton {
    height: 40px;
}

.LoginOverlay,
.SignupOverlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(74, 77, 82, .8);
    border-right: 10px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4632c2;
}

.SignupOverlay {
    box-sizing: border-box;
    background-color: transparent;
    flex-direction: column;
    padding: 20px;
}

.SignupOverlay a {
    text-decoration: none;
    font-size: 24px;
}

.SignupOverlay p {
    color: #fff;
    text-align: center;
}

@media(min-width: 750px) {
    .UserControls {
        width: 40%;
    }
}

@media(min-width: 1200px) {
    .UserControls {
        width: 25%;
    }
}