.ListsForm {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    color: #4632c2;
    background-color: rgba(150, 140, 209, .3);
}

.ListsForm input,
.ListsForm textarea {
    box-sizing: border-box;
    width: 100%;
    border: none;
    padding: 10px;
    margin: 5px 0;
    max-width: 350px;
} 

.ListsForm textarea {
    min-height: 200px;
}

.UpdatedButton {
    height: 25px;
    margin: 5px 0;
    width: 100%;
    background-color: #c97793;
    max-width: 350px;
}

.Hide {
    display: none;
}

.Show {
    display: flex;
}