.DataInfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: fit-content;
    background-color: #fff;
    box-shadow: 3px 3px 10px #637899;
    padding: 25px;
    max-width: 950px;
}

.UserDataInfo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.DataInfo .DataTitle,
.UserDataInfo .DataTitle {
    display: block;
    width: 100%;
    text-align: center;
}

.DataInfo h2,
.UserDataInfo h2 {
    color: white;
    margin: 25px 0;
    border: 1px solid grey;
    background-color: rgba(70, 50, 194, .75);
    padding: 20px;
    display: flex;
    align-items: center;
}

.DataInfo h2 svg,
.UserDataInfo h2 svg {
    fill: white;
}

.DataInfo h2 span,
.UserDataInfo h2 span {
    margin-right: auto;
}

.DataInfo img,
.UserDataInfo img {
    width: 100%;
}

.DataInfo .Item,
.UserDataInfo .Item {
    box-sizing: border-box;
    width: calc(50% - 6px);
    margin: 3px;
    cursor: pointer;
    max-width: 150px;
}

@media(min-width: 411px) {
    .DataInfo .Item,
    .UserDataInfo .Item {
        box-sizing: border-box;
        width: calc(33% - 6px);
        margin: 3px;
        cursor: pointer;
    }
}

@media(min-width: 546px) {
    .DataInfo .Item,
    .UserDataInfo .Item {
        box-sizing: border-box;
        width: calc(25% - 6px);
        margin: 3px;
        cursor: pointer;
    }
}

@media (min-width: 768px) {
    .DataInfo .Item,
    .UserDataInfo .Item {
        box-sizing: border-box;
        width: calc(20% - 20px);
        margin: 10px;
        cursor: pointer;
    }
}

